TOKEN = "<telegram_bot_token>"

DB = { 
    "database": "hermes",
    "host": "hermes-database",
    "user": "hermes",
    "password": "<db_user_password>",
    "port" : "5432"
}

APNS = {
    "team_id": "<apple_developer_team_id>",
    "key_id": "<apple_key_id>",
    "bundle_id": "<ios_app_bundle_id>",
    "private_key": """-----BEGIN PRIVATE KEY-----
<apns_auth_key_p8_contents>
-----END PRIVATE KEY-----""",
    "use_sandbox": True
}
